<div class="container">
    <h2 class="mb-4">Usuarios creados en la plataforma</h2>
    <div class="container" style="margin-top: 70px;">
        {{#with error}}
        <div class="alert alert-danger" role="alert">
            {{this}}
        </div>
        {{/with}}

        {{#with success}}
        <div class="alert alert-success" role="alert">
            {{this}}
        </div>
        {{/with}}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Estado del usuario</th>
                    <th>Pedidos</th>
                </tr>
            </thead>
            {{#each users as |users key|}}
            <tbody>
                <tr>
                    <td>{{users.id}}</td>
                    <td> {{users.name}}</td>
                    <td> {{users.email}}</td>
                    <td>
                        {{#with users.status}}
                        {{#ifEquals users.status 'AVAILABLE'}}
                        <a href="/desactive-users/{{key}}" class="btn btn-success" role="button">HABILITADO</a>
                        {{else}}
                        <a href="/active-users/{{key}}" class="btn btn-warning" role="button">DESHABILITADO</a>
                        {{/ifEquals}}
                        {{/with}}
                    </td>
                    <td><span class="badge badge-primary badge-pill">{{users.orders.length}}</span></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>
</div>